
<div class="card col-12">
  <h2> Inviter un élève</h2>
  <%= form_tag(klass_attendances_path(@klass), authenticity_token: true,  method: 'POST', multipart: true) do%>
    <div class="row form-group card-body text-primary">
      <div class="col-8 text-right">
        <%= email_field_tag 'attendance[email]', '', class: ' form-control ', placeholder: 'Email'%>
      </div>
      <div class="col-4 text-right">
        <%= submit_tag "Inviter", class: " btn btn-success" %>
      </div>
    </div>
  <%end%>
</div>

<div class="row">
		<div class="col-md-6 card p-3">
			Déjà inviter
			<ul class="list-group">
				<% @invitations.each do |invitation| %>
  				<li class="list-group-item">
  					<%=invitation.student.email%>
  					<%= link_to '<i class="far fa-times-circle"></i>'.html_safe, klass_attendance_path(@klass, invitation), method:'DELETE'%>
  				</li>
  			<%end%>
			</ul>
		</div>
		<div class="col-md-6 card p-3">
			En attente d'invitation
			<ul class="list-group">
        <% @attendances.each do |attendance| %>
  				<li class="list-group-item">
  					<%= attendance.student.email%>
  						<%= link_to '<i class="far fa-times-circle"></i>'.html_safe, klass_attendance_path(@klass, attendance), method:'DELETE'%>
  				</li>
  			<%end%>
			</ul>
		</div>
	</div>
