<body class="authentication-bg">

  <div class="account-pages mt-5 mb-5">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-5">
                  <div class="card">

                      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                        <%= f.error_notification %>

                      <!-- Logo -->
                      <div class="card-header pt-4 pb-4 text-center bg-primary">
                          <a href="index.html">
                              <span><%=image_tag("logo1.png", size: "50x38")%></span>
                          </a>
                      </div>
                      
                      <div class="card-body p-4">
                          
                          <div class="text-center w-75 m-auto">
                              <h4 class="text-dark-50 text-center mt-0 font-weight-bold">Reset Password</h4>
                              <p class="text-muted mb-4">Enter your email address and we'll send you an email with instructions to reset your password.</p>
                          </div>

                          <form action="#">
                              <div class="form-group mb-3">
                                <%= f.input :email,
                                            required: true,
                                            autofocus: true,
                                            input_html: { autocomplete: "email" } %>
                              </div>

                              <div class="form-group mb-0 text-center">
                                  <%= f.button :submit, "Send me reset password instructions", class: "btn btn-primary" %>

                              </div>
                          </form>
                      </div> <!-- end card-body-->
                      <% end %>
                  </div>
                  <!-- end card -->

                  <div class="row mt-3">
                      <div class="col-12 text-center">
                          <p class="text-muted">Back to <b><%= render "devise/shared/links", class: "text-muted ml-1" %></b></p>
                      </div> <!-- end col -->
                  </div>
                  <!-- end row -->

              </div> <!-- end col -->
          </div>
          <!-- end row -->
      </div>
      <!-- end container -->
  </div>
  <!-- end page -->

</body>
