<div class="container mt-5">
  <% @steps.each do |step| %>
    <div>
      <div class="row justify-content-between">
      <%= step.name %>
        <div>
        <% if step.progressions.where("student_id = ?", current_student.id).count == 0 %>
          <%= form_for @progression, url: progressions_path(step_id: step.id, student_id: current_student.id), method: :post do |f| %>
              <%= button_tag( class: "btn btn-primary") do %>
                <i class="fas fa-check"></i>
              <% end %>
          <% end %>
        <% else %>      
          <span>Etapes achevées</span>
            <%= link_to progression_path(step.progressions.where("student_id = ?", current_student.id).first), method: :delete, class:"btn btn-danger" do %>
            <i class="fas fa-times"></i>
            <% end %> 
          <% end %><br />
        </div>
      </div>
      <% if @klass.attendances.count != 0 %>
      <%= step.progressions.count %> / <%= @klass.attendances.count %>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: <%= (step.progressions.count*100/@klass.attendances.count) %>%"></div>
      </div>
      <% end %>
    </div><hr>
  <% end %>
</div>