


<!-- Topbar Start -->
<div class="navbar-custom">
  <ul class="list-unstyled topbar-right-menu float-right mb-0 center-block">

    <li class="dropdown notification-list topbar-dropdown">
        <a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="" role="button" aria-haspopup="false" aria-expanded="false">
            <i class="fas fa-chalkboard-teacher"></i> <span class="align-middle">Teacher</span> <i class="fas fa-caret-down"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated topbar-dropdown-menu">

            <% if current_teacher %>
            <!-- Je suis un Prof -->

                <!-- item-->
                <%= link_to 'My account', edit_teacher_registration_path, class: "dropdown-item notify-item"%>

                <!-- item-->
                <%= link_to 'New class',  new_teachers_klass_path, class: "dropdown-item notify-item"%>

                <!-- item-->
                <%= link_to 'Logout', destroy_teacher_session_path, class: "dropdown-item notify-item"%>

            <% else %>

                <!-- item-->
                <%= link_to 'Sign in', new_teacher_session_path, class: "dropdown-item notify-item"%>
                
                <!-- item-->
                <%= link_to 'Sign up', new_teacher_registration_path, class: "dropdown-item notify-item"%>

            <% end %>
        </div>
    </li>

    <li class="dropdown notification-list topbar-dropdown ml-3">
        <a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="" role="button" aria-haspopup="false" aria-expanded="false">
            <i class="fas fa-user-graduate"></i> <span class="align-middle">Student</span> <i class="fas fa-caret-down"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated topbar-dropdown-menu">

            <% if current_student %>
            <!-- Je suis un Prof -->

                <!-- item-->
                <%= link_to 'My account', edit_student_registration_path, class: "dropdown-item notify-item"%>

                <!-- item-->
                <%= link_to 'See my class',  root_path, class: "dropdown-item notify-item"%>

                <!-- item-->
                <%= link_to 'Logout', destroy_student_session_path, class: "dropdown-item notify-item"%>

                
            <% else %>

                <!-- item-->
                <%= link_to 'Sign in', new_student_session_path, class: "dropdown-item notify-item"%>

                <!-- item-->
                <%= link_to 'Sign up', new_student_registration_path, class: "dropdown-item notify-item"%>

            <% end %>

        </div>
    </li>

  </ul>

  <!-- TODO : Search feature -->
  <button class="button-menu-mobile open-left disable-btn">
      <i class="fas fa-search"></i>
  </button>
  <div class="app-search">
    <form>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search a class">
        <span class="fas fa-search"></span>
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- end Topbar -->

