<!-- Topbar Start -->
<div class="navbar-custom">
    <ul class="list-unstyled topbar-right-menu float-right mb-0">

        <li class="dropdown notification-list">
            <a class="nav-link dropdown-toggle nav-user arrow-none mr-0" data-toggle="dropdown" id="topbar-userdrop" href="#" role="button" aria-haspopup="true"
                aria-expanded="false">
                <span class="account-user-avatar">
                <i class="fas fa-user fa-3x"></i> 
                </span>
            </a>


            <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated topbar-dropdown-menu profile-dropdown" aria-labelledby="topbar-userdrop">
                    <% if current_teacher %>
                <!-- Je suis un Prof -->

                <!-- item-->
                <div class=" dropdown-header noti-title">
                    <h6 class="text-overflow m-0">Welcome !</h6>
                </div>

                <!-- item-->
                <%= link_to 'My account ', edit_teacher_registration_path, class: "dropdown-item notify-item"%>

                <!-- item-->
                <%= link_to 'New class',  new_teachers_klass_path, class: "dropdown-item notify-item"%>

                <!-- item-->
                <%= link_to 'Logout', destroy_teacher_session_path, class: "dropdown-item notify-item"%>

                <% elsif current_student %>
                <!-- Je suis un Elève -->

                <!-- item-->
                <div class=" dropdown-header noti-title">
                    <h6 class="text-overflow m-0">Welcome !</h6>
                </div>

                <!-- item-->
                <%= link_to 'My account ', edit_student_registration_path, class: "dropdown-item notify-item"%>

                <!-- item-->
                <%= link_to 'See my class',  root_path, class: "dropdown-item notify-item"%>

                <!-- item-->
                <%= link_to 'Logout', destroy_student_session_path, class: "dropdown-item notify-item"%>

                <%else%>

                <!-- Je suis un visiteur -->

                <!-- item-->
                <div class=" dropdown-header noti-title">
                    <h6 class="text-overflow m-0">Welcome !</h6>
                </div>
                <!-- item-->
                <%= link_to 'Sign in as teacher', new_teacher_session_path, class: "dropdown-item notify-item"%>
                
                <!-- item-->
                <%= link_to 'Sign up as teacher', new_teacher_registration_path, class: "dropdown-item notify-item"%>

                <!-- item-->
                <%= link_to 'Sign in as student', new_student_session_path, class: "dropdown-item notify-item"%>

                <!-- item-->
                <%= link_to 'Sign up as student', new_student_registration_path, class: "dropdown-item notify-item"%>

                <%end%>
            </div>
        </li>

        <li class="dropdown notification-list topbar-dropdown">
            <a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                <img src="assets/images/flags/us.jpg" alt="user-image" class="mr-1" height="12"> <span class="align-middle">English</span> <i class="mdi mdi-chevron-down"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated topbar-dropdown-menu">

                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                    <img src="assets/images/flags/germany.jpg" alt="user-image" class="mr-1" height="12"> <span class="align-middle">German</span>
                </a>

                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                    <img src="assets/images/flags/italy.jpg" alt="user-image" class="mr-1" height="12"> <span class="align-middle">Italian</span>
                </a>

                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                    <img src="assets/images/flags/spain.jpg" alt="user-image" class="mr-1" height="12"> <span class="align-middle">Spanish</span>
                </a>

                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                    <img src="assets/images/flags/russia.jpg" alt="user-image" class="mr-1" height="12"> <span class="align-middle">Russian</span>
                </a>

            </div>
        </li>
        
    </ul>
    <!-- TODO : Search feature -->
    <button class="button-menu-mobile open-left disable-btn">
        <i class="fas fa-search"></i>
    </button>
    <div class="app-search">
        <form>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search a class">
                <span class="fas fa-search"></span>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>

</div>
<!-- / Topbar -->




