<!DOCTYPE html>
<html>
  <head>
    <title>MeetMyClass</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- App favicon -->
      <link rel="shortcut icon" href="assets/images/images/favicon.ico">

    <!-- third party css -->
      <link href="assets/css/vendor/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <!-- third party css end -->

    <!-- App css -->
      <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
      <link href="assets/css/app.min.css" rel="stylesheet" type="text/css" />

  </head>

  <body>
    <header>
      <%= render 'layouts/navbar' %>
      <main>
      <%= yield %>
      </main>
    <footer>
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
