<!DOCTYPE html>
<html>
  <head>
    <title>MeetMyClass</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <!-- Use font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/images/favicon.ico">

  </head>

  <body>
    <header>
      <%# a Réactiver plus tard :) 
      <%# <%= render 'shared/partials/left-sidebar' %>
      <%# <%= render 'shared/partials/horizontal-nav' %> 
      <%= render 'shared/navbar' %>
      <%= render 'shared/flash' %>
      <%= render 'shared/dev_bar' %>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <%= render 'shared/footer' %>
    </footer>
  </body>


</html>
