<!DOCTYPE html>
<html>
  <head>
    <title>MeetMyClass</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <!-- Use font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('logo1.png') %>

  </head>

  <body>
      <%= render 'shared/navbar' %>
      <%= render 'shared/flash' %>
      
      <%= yield %>
  </body>

</html>
