##################################################################### <p>

"""""""" Voici les classes"""""""""""" <p>

##################################################################### <p>
<div class=flex>
<div class=container center; style= border-style:solid;> 
<%= @klass.title%>  <%= link_to 'Détail de la classe', klass_path(@klass) %><p>

<%= @klass.questions.last.description%><p>
<%= @klass.questions.last.student.email%>

</div>

<%#= debug current_student%>

<div class=container style= border-style:solid  > 
<%= link_to 'se connecter', new_student_session_path %><p>
<%= link_to 'se deconnecter', destroy_student_session_path, method: :delete%>
</div>
</div>