############# <p>

"""""""" Détail du cours """"""""""" <p>

############## <p>

<div class= "container", style= border-style:solid >
    <h3> Intitulé du cours</h3><p>
    <%= @klass.title%>
</div>

<div class= "container", style= border-style:solid >
    <h3> Description du cours</h3><p>
    <%= @klass.description%>
</div>


<div class= "container", style= "border-style:solid" >
    <h4>Questions :</h4><p>
    <% if @questions.nil? %>

    <%else%>

     <%@questions.each do |question| %>
        <%= question.description%>
      <%#= button_to 'Upvote', klass_question_upvote_path(@klass,question.id), method: :post%> 
      <%= form_for [@klass, question,question.upvotes.build] do |f| %>
        <div><%= f.hidden_field :student_id, :value => current_student.id %></div>
            <%= f.submit "Like!", class: "btn btn-large btn-primary" %>
            <% end %> 
      <%= question.upvotes.count%> <%= (question.upvotes.count) == 1 ? 'Vote': 'Votes'%> <p>
      <%= button_to 'Suppprimer', klass_question_path(@klass, question.id), :data => {:confirm => 'êtes vous sûr ?'}, :method => "delete", class:'btn-secondary'%>
        <%end%>
    <% end %>
    </div>


<div class="container", style= "border-style:solid" > <%= link_to "nouvelle question", new_klass_question_path(@klass)  %></div>


<div style="position: relative;bottom: 8px;">
<%= link_to "retour", klasses_path%>
</div>
