############# <p>

"""""""" Détail du cours """"""""""" <p>

############## <p>

<div class= "container", style= border-style:solid >
    <h3> Intitulé du cours</h3><p>
    <%= @klass.title%>
</div>

<div class= "container", style= border-style:solid >
    <h3> Description du cours</h3><p>
    <%= @klass.description%>
</div>


<div class= "container", style= "border-style:solid" >
    <h4>Questions :</h4><p>
    <% if @questions.nil? %>
    <%else%>
     <%@questions.each do |q| %>
      <h4> - <%= q.description%></h4>
      <div type="button", class="btn-primary">Vote  <%= q.upvotes.count%>
     </div>
     <% end %>
    <% end %>
    </div>

    

<div class="container", style= "border-style:solid" > <%= link_to "nouvelle question", new_question_path(@klass)  %></div>



<div style="position: absolute;bottom: 8px;">
<%= link_to "retour", klasses_path%>
</div>
